<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.viber_mogu" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.MGViberActivity"
            android:icon="@drawable/ic_module_default"
            android:label="蘑菇测振仪"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <activity
            android:name=".ui.MGViberTestActivity"
            android:icon="@drawable/ic_module_default"
            android:label="蘑菇测振仪测试"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
    </application>
</manifest>
